.drilling {
  color: white;
  background: rgb(60, 100, 56);
  padding-bottom: 25px;
  .my-nav {
    padding: 10px;
    h1 {
      border: 2px solid silver;
    }
    .arrow {
      margin-right: 10px;
      img {
        width: 40px;
        height: 40px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  img {
    width: 70px;
    height: 70px;
    &:hover {
      cursor: pointer;
    }
  }
  h6 {
    margin-top: 10px;
  }
  .type-tools {
    margin: 5px;
    padding: 30px;
  }
  .drill-sellect {
    transform: scale(1.2);
    color: green;
  }
  .type-material {
    margin: 5px;
    & > div {
      margin: 10px 0;
      &:hover {
        cursor: pointer;
      }
    }
    .material-sellect {
      transform: scale(1.2);
      color: green;
    }
  }
  .info-choosed {
    margin: 20px 0;
    padding: 10px 0;
    .border {
      border-top: 2px solid silver;
    }
  }
  .resoult {
    & > div {
      border: 2px solid silver;
    }
    p {
      font-size: 1.5em;
    }
  }
}
